{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Personal Expense Tracker</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Paid</th>
            <th>Transaction Date</th>
            <th>Posted Date</th>
            <th>Card No.</th>
            <th>Description</th>
            <th>Category</th>
            <th>Debit</th>
            <th>Credit</th>
        </tr>

        {% for trans in inStatement %}
        <tr>
            <td>{{ trans.id }}</td>
            <td>{{ trans.paid }}</td>
            <td>{{ trans.trans_date }}</td>
            <td>{{ trans.posted_date }}</td>
            <td>{{ trans.card_num }}</td>
            <td>{{ trans.description }}</td>
            <td>{{ trans.category }}</td>
            <td>{{ trans.debit }}</td>
            <td>{{ trans.credit }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit" onclick="location.href = '/add';">Add statement</button>
</div>
{% endblock %}